.login_div{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.74);
    width: 100%;
   position: absolute;
   top: 0px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.login_div form{
    background-color: aquamarine;
    height: 300px;
    width: 30%;
}
