.SideMenu_div{
    background-color: #1d222c;
    height:930px;
    width: 30%;
    border-left: 1px solid #c1bebe;
    

}

.notes_container{
       height: 700px;
   display: flex;
  flex-wrap: wrap;
   justify-content: space-around;
   overflow: auto;
     gap: 20px;
  padding: 20px;
}


.top_side{
    height: 80px;
    

}

::-webkit-scrollbar {
    width: 0px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#13191f, #384246);
    border-radius: 10px;
    opacity: 0.5;
}