.error_ms{
   
width: 100%;
height: 30px;
position: absolute;
top: 60px;
display: flex;
justify-content: center;
align-items: center;




}
.error_ms div{
color: #e61313;
border-radius: 10px;
border: 1px solid #e61313;
width: 50%;
text-align: center;
padding: 5px;
background-color: #e613134d;
}