.one_note_div {
   background-color: #353942;
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 20px;
  padding-top: 5px;
}

.one_note_div .Title{
    
    height: 60px;
    border-bottom: 1px solid #c1bebe;
    margin: 0px 10px;
    font-size: 17px;
    font-weight: 700;
    color: #dcd6d6;
    overflow: hidden;
    width: 80%;
    min-width: 5px;
}

.one_note_div .Content{
    margin-top: 5px;
    height: 110px;
    color: #afaaaa;
    overflow: hidden;
}


@media (max-width: 750px) {
.one_note_div {
width: 90px;
  height: 200px;
}
}