.textarea_c {
    resize: none;
    width: 100%;
    height: 90vh;
    padding: 10px;
    outline: none;
    background-color: #222222;
    color: #fff;
    font-size: 20px;
     margin-top: 0px;
}
.input_c{
    outline: none;
      background-color: #222222;
       border-bottom: 1px solid #ffffff5e;
       height: 40px;
       width: 100%;
      color: #fff;
      font-size: 20px;
        padding: 3px;
        margin-top: 0px;
}

.Text_field_div{
  background-color: burlywood;
  padding-top: 0px;
}