.loadin_div{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.637);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
}

.loadin_div h3{
    color: white;
}